body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #746C70; /* Updated background color */
    color: #E2E2E2; /* Updated font color */
}
header {
    background-color: #746C70;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    color: #fff;
    margin: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
.form-wrapper {
    display: flex;
    justify-content: center; /* Center content horizontally */
}
.logo {
    max-width: 100%; /* Ensures the image doesn't exceed its container width */
    height: auto; /* Maintains the aspect ratio */
    width: 20%; /* Adjust the width of the image as needed */
    margin: 20px auto; /* Centers the image horizontally */
}
.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background-color: #0056b3;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    flex-shrink: 0; /* Prevent the footer from shrinking */
}